
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
 
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 100px 100px 100px 100px;
   background-color: black;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;


    
  }
  
  .header i {
    font-size: 3.6rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: none;
  }
  
  .navbar ul {
    display: flex;
    gap: 10px;
  }
  
  .navbar ul li {
    list-style: none;
  }
  
  .logo {
    font-size: 40px;
    margin: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px;
    font-weight: 600;
  }
  
  .navbar a {
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 0.3s;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: rgb(255, 255, 255);
  }
  img{
    border-radius: 50%;
    border:3px solid rgb(255, 255, 255);
  }
   .grid{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    width:100% ;
    height:100vh;
    background-image: url(image/16.jpg);
    background-repeat: no-repeat;
    background-size:cover;
   }
   
   
  .grid1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-top: 100px;
     padding: 15px;
    
    }
    .grid2{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto ;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row: 2;
      color: white;
      margin-top: 140px;
      font-size: 40px;
      height: auto;
      width: auto;

    }
.footer{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-column-start: 1;
  grid-column-end:5 ;
  grid-row:5 ;
  gap: 5px;
  background-image: url(image/16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  color: white;
}
.grid3{
    display: grid;
    grid-column: 2;
    grid-row:1;
    text-align: start;
  }
  .grid4{
    display: grid;
    grid-column: 2;
    grid-row:2;
    text-align: start;
  }
  .grid5{
    display: grid;
    grid-column: 2;
    grid-row: 3;
    text-align: start;
  }
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 10px; 
  }
  .grid6{
    display: grid;
    grid-column: 4;
    grid-row: 4;
    text-align: start;

  }
  


    @media (max-width:500px)  {
.grid1{
  display: grid;
  grid-column-start:2 ;
  grid-column-end: 3;
  grid-row: 2;
  width: 500px;
    height: 500px;
    margin-left: 20px;
    margin-top: 100px;
     padding: 15px;
    
}
    
.grid{ display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  color: white;
  margin-top: 140px;
  font-size: 40px;
  height: auto;
  width: auto;


}
    }
 
   
       
